/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

 /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --title-color:  #DB00FF;
  --shadow-color: #FF0070;
  --accent-zone: #FF0070;
  --text-color: #F1B2CE;
  --heading-color: #000028;
  --accent-color: #FF0070;
  --transparent: rgba(255, 0, 112, 0.4);
  --display: block;
  --weight-bold: 700;
  --weight-regular: 400;
  --padding: clamp(10px, calc((100vw - 500px) * 1000), 20px);
  --font-size: 18px;
  --line-height: 23.4px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;
    --title-color:  #DB00FF;
    --shadow-color: #FF0070;
    --accent-zone: #FF0070;
    --text-color: #F1B2CE;
    --heading-color: #000028;
    --accent-color: #FF0070;
    --transparent: rgba(255, 0, 112, 0.4);
    --display: block;
    --weight-bold: 700;
    --weight-regular: 400;
    --padding: clamp(10px, calc((100vw - 500px) * 1000), 20px);
    --font-size: 18px;
    --line-height: 23.4px;
  }
}