:root {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --shadow-color: #FF0070;
  --accent-zone: #FF8DCB;
  --text-color: #353430;
  --heading-color: #353430;
  --accent-color: #353430;
  --transparent: #32312D66;
  --display: none;
  --weight-bold: 700;
  --weight-regular: 400;
  --padding: clamp(10px, calc((100vw - 500px) * 1000), 20px);
  --font-size: 18px;
  --line-height: 23.4px;
}


/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/